#root {
  background-color: #262a31;
}

.main-car {
  position: absolute;
  top: 0;
  z-index: -1;
}

.main-title {
  color: #424853;
  background-color: transparent;
  text-align: center;
}

.main-section {
  position: relative;
  min-height: 100vh;
  z-index: 1;
}

.circle {
  width: 461px;
  height: 461px;
  border-radius: 50%;
  border: 67px solid #9e78244d;
  position: absolute;
  top: 248px;
  left: -261px;
}

.description {
  color: white;
}
